body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	width: 1024px;
	height: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

.logo {
	font-size: 20px;
	color:#fff;
	text-transform: uppercase;
	line-height: 1.2;
	border-radius: 12px;
    background:#29c5e6;
    padding: 16px 18px 18px 16px;
    font-family: 'Oswald', sans-serif;
}


header .container {
    display: flex;
    justify-content: space-between;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 25px;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

nav li a {
	color: inherit;
	text-decoration: unset;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}

.top-menu #p2_back{
	color: #fff;
}

img {
	width: 35px;
}

span {
	position: relative;
    bottom: 14px;
}

.banner {
  margin: 50px 0 0 0;
}

.dvfu_button {
	color: #fff;
	background-color: #296ce6;
	border: none;
	padding: 10px 30px;
	font-family: 'Oswald', sans-serif;
	margin: 25px;
}

 .dvfu_button a.button_text {
	color: inherit;
	text-decoration: unset;
}

#heading {
	background: #29c5e6;
	margin: 30px 0;
	padding-left: 20px;
}

h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	background: #f8f8f8;
	margin: 0;
	padding: 0 10px;

}

h2 {
	padding: 0px;
	margin: 0px;
	font-size: 24px;
}

h3 {
	padding: 0px;
	margin: 0px 294px;
	font-size: 24px;
}

aside {
	float: left;
	width: 261px;
	margin: 0px 10px 0px 0px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.aside-menu li.active {
	color: #fff;
	background: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}

#make_ball {
	position: relative;
    width: 71%;
    min-height: 100vh;
    border: 1px solid #e7e7e7;
    float: right;
 }

.dragtree{
	position: absolute; 
	z-index: 100; 
}

.dragtoy { 
	position: absolute;  
	z-index: 110; 
}


.balls {
	position: relative;
    text-align: center;
	display: block
	width: 70px;
	margin: 10px;
}

.proj_an {
	margin: 0px 0px 20px;
	font-size: 16px;
}

.download_TeX{
	color: #fff;
	background-color: #296ce6;
	border: none;
	padding: 10px 16px;
	font-family: 'Oswald', sans-serif;
	margin: 0px 600px 0px 271px;

}

 .download_TeX a.button_text {
	color: inherit;
	text-decoration: unset;
}
